<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>3 Wide Grid</title>
<style>
    body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #1B1B1B;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding: 20px;
      background-color: white;
      max-width: 1000px;
      max-height: 600px;
      overflow: auto;
      border: 1px solid #F61115;
      border-radius: 10px;
      background-color: #1B1B1B;
    }

    .grid-item {
      background-color: #512888;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
    }

    .grid-item img {
      max-width: 100%;     /* Limits image to grid item width */
      max-height: 200px;   /* Optional: limits vertical size */
      height: auto;
      border-radius: 8px;
      background-color: #1B1B1B;
    }

    .centered-text {
      text-align: center;
      padding: 5px;
      color: #F61115;
    }
  </style>
</head>

<div>
    <body>
        <h1 style="color: #F61115;">Welcome To the GRKT Official Website</h1>
    <div class="grid-container">
      
        <div class="grid-item"> 
          <a href="/shadow">
          <%= image_tag 'Shadow.jpg' %>
          </a>
        </div>

        <div class="grid-item">
          <a href="/tz">
          <%= image_tag 'tz.jpg' %>
          </a>
        </div>

        <div class="grid-item">
                    <a href="/veko">
          <%= image_tag 'veko.JPG' %>
          </a>
          </div>

        <div class="grid-item">
                    <a href="/choas">
          <%= image_tag 'choas.png' %>
          </a>
          </div>

        <div class="grid-item">
                    <a href="/kuro">
          <%= image_tag 'tylan.jpg' %>
          </a>
          </div>

        <div class="grid-item">

        </div>
    </div>
    </body>
    <div >
    <h1 class="centered-text">Our Commandments To Live By!!</h1>
    <ul class="centered-text">
        <div>1. Don't Lose Lane</div>
        <div>2. Never Die Alone</div>
        <div>3. We Shall Not FF 15</div>
        <div>4. Secure the Kill</div>
        <div>5. Risk it for the Biscuit</div>
        <div>6. We Will Win</div>
    </ul>
    </div>
</div>


</html>
